{% extends 'journal/base.html' %} 

{% block content %}
	<div id="app">
	  <div class="columns">
	    <div class="column is-12">
	    		<table class="table is-bordered">
	    			<thead>
	    				<tr>
	    					<th>Учащиеся</th>	
	    					<th v-for="subject in subjects.results" v-html="subject.name"></th>
	    					<th>Отметка</th>
	    				</tr>
	    			</thead>
	    			<tbody>
	    				<tr v-for="student in students.results" >
	    					<td v-html="shortName(student)"></td>
	    					<th v-for="subject in subjects.results" >
	    						<span v-for="mark in getMarks(student,subject)">[mark.value] </span>
	    					</th>
	    					<th></th>
	    				</tr>
	    				<tr>
	    					<td :colspan="subjects.count+1">Итого</td>
	    					<td></td>
	    				</tr>
	    			</tbody>
	    		</table>
	    		<div class="content">
		    		<p>Кол-во учащихся без 0,1,2,3 : <span></span> %<br/>
		    		   Кол-во учащихся на 6,7,8,9 : <span></span> %</p>
		    	</div>
	       		<button class="button" @click="fetchData">Обновить</button>
	    </div>
	  </div>
	</div>
{% endblock %}