{% extends 'journal/base.html' %} 

{% block content %}
	<div id="app">
	  <div class="columns">
	    <div class="column is-12">
	    		<table class="table is-bordered">
	    			<thead>
	    				<tr>
	    					<th>Учащиеся</th>	
	    					<th v-for="subject in subjects.results" v-html="subject.name"></th>
	    					<th>Отметка</th>
	    				</tr>
	    			</thead>
	    			<tbody>
	    				<tr v-for="student in students.results" >
	    					<td v-html="shortName(student)"></td>
	    					<th v-for="subject in subjects.results" >
	    						<span v-for="item in findMarks(student,subject)">[item.value] </span>
	    					</th>
	    					<th v-html="averageMark(student)"></th>
	    				</tr>
	    			</tbody>
	    		</table>
	       		<button class="button" @click="fetchData">Обновить</button>
	    </div>
	  </div>
	</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
var App = new Vue({
	delimiters: ["[", "]"],
	el : "#app",
	data : {
		students : [],
		marks : [],
		subjects : [],
	},
	created : function(){
		this.fetchData();
	},
	methods :{
		fetchData : function(){
			this.$http.get("/marks/?format=json")
				.then(response => {
					this.marks = response.data
				})
			this.$http.get("/students/?format=json")
				.then(response => {
					this.students = response.data
				})
			this.$http.get("/subjects/?format=json")
				.then(response =>{
					this.subjects = response.data
				})
			
		},
		shortName : function(student){
			return student.lastname+" "+ student.firstname[0]+ ". " + student.patronymic[0]+"."
		},
		findMarks : function(student,subject){
			return this.marks.results.filter(item =>{
					return item.student === student.url && item.subject === subject.url;
			})
		},
		averageMark : function(student){
			var sum = 0;
			var arr = this.marks.results.filter(item =>{
				return item.student === student.url;
			});
			var count = arr.length;
			arr.forEach(function(item) {
				sum += item.value; 
				});
			var result = (sum / count);
			return isNaN(result) ? "-" : result; 
		}
	}
})


</script>
{% endblock %}