{% extends 'journal/base.html' %} 

{% block content %}
	<div id="app">
	  <div class="columns">
	    <div class="column is-12">
	    		<table class="table is-bordered">
	    			<thead>
	    				<tr>
	    					<th>Учащиеся</th>	
	    					<th v-for="subject in subjects.results" v-html="subject.name"></th>
	    					<th>Отметка</th>
	    				</tr>
	    			</thead>
	    			<tbody>
	    				<tr v-for="student in students.results" >
	    					<td v-html="shortName(student)"></td>
	    					<th v-for="subject in subjects.results" >
	    						<span v-for="item in findMarks(student,subject)">[item.value] </span>
	    					</th>
	    					<th v-html="averageMark(student)"></th>
	    				</tr>
	    			</tbody>
	    		</table>
	       		<button class="button" @click="fetchData">Обновить</button>
	    </div>
	  </div>
	</div>
{% endblock %}